h1 {
    display: flex;
    font-family: 'Oleo Script', cursive;
    font-size: 50px;
    justify-content: center;
}

.shades-container {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

#shades {
    text-align: center;
    width: 50%;
}

.input-fields {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px 0;
}

label {
    padding-right: 510px;
}

input {
    padding: 0 40px;
    margin: 10px 0;
    width: 50%;
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.select-report {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin: 10px 0 20px 0;
}

#report {
    width: 50%;
    text-align: center;
}

.report-button {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

